swag/config/*
!swag/config/nginx
jellyfin
code-server/config/code-server/config.yaml
authelia/config/*
authelia/secrets
!authelia/config/configuration.yml
deluge/*
redis/data
transmission/data/transmission-home/*
transmission/.env
jackett/*
sonarr/*
radarr/*
transmission/*
grafana/data/*
**/node_modules
homebridge/.uix-secrets
homebridge/persist/AccessoryInfo.0E2A34CDCAA0.json
homebridge/persist/IdentifierCache.0E2A34CDCAA0.json
homebridge/accessories/cachedAccessories
homebridge/auth.json
homebridge/homebridge.log
homebridge/homebridge
