swag/config/*
!swag/config/nginx
jellyfin
code-server/config/code-server/config.yaml
authelia/config/*
authelia/secrets
!authelia/config/configuration.yml
deluge/*
redis/data
transmission/data/transmission-home/*
transmission/.env
jackett/*
