swag/config/*
!swag/config/nginx
jellyfin
code-server/config/code-server/config.yaml
authelia/config/*
authelia/secrets
!authelia/config/configuration.yml
deluge/*
redis/data
transmission/data/transmission-home/*
transmission/.env
jackett/*
sonarr/*
radarr/*
bazarr/*
transmission/*
grafana/data/*
**/node_modules
homebridge/.uix-secrets
homebridge/persist/*
homebridge/accessories/cachedAccessories
homebridge/auth.json
homebridge/homebridge.log
homebridge/homebridge
homebridge/backups/*
homebridge/accessories/.cachedAccessories.bak
homebridge/accessories/uiAccessoriesLayout.json
homeassistant/.HA_VERSION
homeassistant/automations.yaml
homeassistant/configuration.yaml
homeassistant/home-assistant_v2.db
homeassistant/home-assistant_v2.db-shm
homeassistant/home-assistant_v2.db-wal
homeassistant/home-assistant.log
homeassistant/home-assistant.log.1
homeassistant/home-assistant.log.fault
homeassistant/scenes.yaml
homeassistant/scripts.yaml
homeassistant/secrets.yaml
homeassistant/.storage/auth
homeassistant/.storage/core.config_entries
homeassistant/.storage/core.device_registry
homeassistant/.storage/core.entity_registry
homeassistant/.storage/core.uuid
homeassistant/.storage/http
homeassistant/.storage/http.auth
homeassistant/.storage/repairs.issue_registry
homeassistant/.storage/trace.saved_traces
homeassistant/blueprints/automation/homeassistant/motion_light.yaml
homeassistant/blueprints/automation/homeassistant/notify_leaving_zone.yaml
homeassistant/blueprints/script/homeassistant/confirmable_notification.yaml
homeassistant/.storage/*
